.Site-content{
    flex-direction: column;
    justify-content: center;
}

.administrationContentWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;

}

.administrationContentWrapper img{
    width: 18.75em;
    height: 18.75em;

}
.administrationContentWrapper .element a{
    text-decoration: none;
}

.manageProductsElements{
    display:flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    padding:0;
    margin:0;
    min-width:75vw;
    list-style: none;
}


.manageProductsElements input, textarea, select, button, .productImageUploadLabel, .customerIDInput{

    padding: 0.75em 1.25em;
    margin: 0.375em 0;
    display: inline-block;
    border: 0.0625em solid rgb(134, 133, 133);
    border-radius: 0.625em;
    box-sizing: border-box;
    align-items: center;
}



.manageProductsElements h2{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.manageProductsContainer{
    display:flex;
    flex-direction: row;
    align-content: space-between;
    min-width: 75vw;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
    justify-content: center;
}

.addProductFormularContainer{
    width: 30vw;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
}

.changeProductFormularContainer{
    width: 30vw;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
}
.changeProductFormularContainer .inputFields{
    display: flex;
    flex-direction: column;
    width:inherit;

}

.changeProductFormularContainer .submit{
    display: flex;
    flex-direction: column;
    width:inherit;
}

.deleteProductFormularContainer{
    width: 30vw;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
}
.deleteProductFormularContainer textarea{
    width: 30vw;
}

.addProductContainer {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.deleteProductContainer {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.changeProductContainer{
    padding-left:0.5em;
    padding-right:0.5em;
    justify-content:center;
    min-height: inherit;
    border-left: var(--orangeAccentColor);
    border-right: var(--orangeAccentColor);
    border-style: solid;
    border-bottom: none;
    border-top: none;
}

.passwordCheck{

    border-bottom: var(--orangeAccentColor);
    border-top: var(--orangeAccentColor);
    border-style: solid;
    border-left: none;
    border-right: none;
}


.addProductFormularContainer form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.changeProductFormularContainer form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.deleteProductFormularContainer form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}


.productID{
    width:75%;
}
.quantityStored{
    width:50%;
}
.prodName{
    resize: vertical;
}
.prodDescription{
    resize: vertical;
}
.category{
    width:50%;
}




.productImageUploadLabel{
    background-color: white;
    color:#757575;
    font-size: 13px;
}


.pricingAmount{
    width:75%;
}
.pricingCurrency{
    width:25%;
}

.firstRow{
    display: flex;
    flex-direction: row;
}

.lastRow{
    display: flex;
    flex-direction: row;
}

.adminPasswordCheck{
    width:100%;
}

.submitOperation{
    width:100%;
}
.submitOperation button{
    width:100%;
}

.manageCustomersContainer{
    display:flex;
    flex-direction:column;
    min-width: 33vw;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
}

.customerInput{
    width:100%;
}

.customerIDInput {
    width: 100%;
}

.manageProductsError{
    color:var(--orangeAccentColor);
}

.successEntry{
    color:green;
}

.manageCustomersContainer h2{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.manageProductsElements [type=submit], .manageCustomersContainer [type=submit],
.manageProductsElements [type=reset], .manageCustomersContainer [type=reset]{
    background-color: var(--mainColor);
    color: white;
    padding: 0.875em 1.25em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    align-items: center;
}

