.categoryContentContainer{
    background-color: var(--contrastBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
    max-width: inherit;
    min-width: 80vw;
}
.element p {
    font-size: 1.5em;
    color:var(--lightGreyParagraphColor);
    text-shadow: 0 0 0.125em black;
    max-width: 15.625em;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: space-around;
    background-color: unset;
    max-width:100%;
    min-width: 80%;
}

.contentWrapper a {
    text-decoration: none;
    color: black;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}




.contentWrapper .element {
    background-color: unset;
    margin: 0 0.5em;
}

.contentWrapper .element img {
    max-width: 12.5em;
    max-height: 12.5em;
    flex: 1;
}



.element {
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: unset;
}



.contentWrapper .element:hover {
    box-shadow: 0 0.625em 1.125em #FDDA0F;

}

.contentWrapper .element:hover img {
    max-width: 14em;
    max-height: 14em;
    overflow: hidden;
    flex: 1;
    width: 18.75em;
    transition: 0.7s;
    margin-bottom: 1em;
}