.checkoutContainer{
    display:flex;
    min-height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
    flex-direction: column;
    align-items: center;

}

.productBasketSummary{
    width:50%;
}

.productBasketSummary .columnHeaderProduct,
.productBasketSummary .columnContentProduct,
.productBasketSummary .columnSummaryProduct{
    width:60%;
}

.productBasketSummary .columnHeaderPricing,
.productBasketSummary .columnContentPricing,
.productBasketSummary .columnSummaryPricing{
    width:20%;
}

.productBasketSummary .columnHeaderQuantity,
.productBasketSummary .columnContentQuantity,
.productBasketSummary .columnSummaryQuantity{
    width:10%;
}

.productBasketContentCheckout{
    width:100%;
    color:white;
}

.addressView{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 60vw;
    height:90%;
}

.billingAddress{
    min-height: 14.375em;
}


hr{
    width:90vw;
}

.navigationHistory{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    width:100vw;
    padding-top: 0.5em;

}

.addressConfirmation, .paymentConfirmation, .orderConfirmation{
    font-size: 1.5em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:33%
}

.continueCheckoutButton{
    background-color: var(--mainColor);
    color: white;
    padding: 0.875em 1.25em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

.checkoutContent{
    height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen) - 2.563em);
    width:100%;
    display:flex;
    justify-content: center;
}

.checkoutContent form{
    width:50%;
}

.chooseMethods{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    height:90%;
}

.choosePaymentMethod, .chooseShippingMethod{
    width:50%;
    height:40%;
    justify-content: center;
}

.choosePaymentMethod input[type="text"]{
    width:90%;
}




.endOfSite{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    margin-bottom: 1.5em;
}

.shippingAndPaymentSummary{
    width:50%;
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.shippingAndPaymentSummary table{
    align-self: center;
    color:white;
}

.summaryCheckoutContainer{
    display:flex;
    flex-direction: row;
    height:50vh;
    width:100%;
    padding-top: 4em;
}