.checkoutContainer{
    display:flex;
    min-height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
    flex-direction: column;
    align-items: center;

}

.productBasketSummary{
    width:50%;
    overflow-y:auto;
}

.productBasketSummary .columnHeaderProduct,
.productBasketSummary .columnContentProduct,
.productBasketSummary .columnSummaryProduct{
    width:60%;
}

.productBasketSummary .columnHeaderPricing,
.productBasketSummary .columnContentPricing,
.productBasketSummary .columnSummaryPricing{
    width:20%;
}

.productBasketSummary .columnHeaderQuantity,
.productBasketSummary .columnContentQuantity,
.productBasketSummary .columnSummaryQuantity{
    width:10%;
}

.productBasketContentCheckout{
    width:100%;
    max-height:100%;
    color:white;
    border-collapse: collapse;
}

.addressView{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 60vw;
    height:90%;
}

.billingAddress, .shippingAddress{
    height: 50vh;
}

.currency{
    color:white;
}

.checkoutContent form input{
    width:49%;
}

.checkoutContent form #countryShipping, .checkoutContent form #email,
.checkoutContent form #countryBilling, .checkoutContent form #additionalInformation{
    width:99%;
}


.siteHeader hr{
    width:90vw;
}

.navigationHistory{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    width:98vw;
    padding-top: 0.5em;

}

.addressConfirmation, .paymentConfirmation, .orderConfirmation{
    font-size: 1.5em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:33%
}

.continueCheckoutButton{
    background-color: var(--mainColor);
    color: white;
    padding: 0.875em 1.25em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

.checkoutContent, .checkoutContentShort{
    height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen) - 2.563em);
    width:99%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.checkoutContent form, .checkoutContentShort form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.chooseMethods{
    display:flex;
    flex-direction: row;
    width:50%;
    align-content: center;
    align-items: center;
    height:90%;
}

.choosePaymentMethod, .chooseShippingMethod{
    width:50%;
    height:40%;
}

.choosePaymentMethod input[type="text"]{
    width:90%;
    padding: 0.75em 1.25em;
    margin: 0.375em 0;
    display: inline-block;
    border: 0.0625em solid rgb(134, 133, 133);
    border-radius: 0.625em;
    box-sizing: border-box;
    align-items: center;

}
.chooseMethods input[type="radio"]{
    width:10%;
}




.endOfSite{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    margin-bottom: 1.5em;
}

.shippingAndPaymentSummary{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.shippingSummary, .paymentSummary{
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.paymentSummary table{
    width:80%;
    align-self: start;
    color:white;
    text-align:left;
}

.shippingSummary table{
    width:80%;
    align-self: center;
    color:white;
    text-align:left;
}

.tableHeader{
    width:50%;
}


.summaryCheckoutContainer{
    display:flex;
    flex-direction: row;
    height:50vh;
    width:100%;
    padding-top: 4em;
}

.shippingAddress input, .billingAddress input{
    padding: 0.75em 1.25em;
    margin: 0.375em 0;
    display: inline-block;
    border: 0.0625em solid rgb(134, 133, 133);
    border-radius: 0.625em;
    box-sizing: border-box;
    align-items: center;
}


.errorMessage{
    background-color: red;
    color:white;
    border-radius: 0.225em;
    box-sizing: border-box;
}