@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');



Site{

}

body{
    margin:0;
}

main{
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0.4em;
}

.Site-content {

    min-height: calc(100vh - 4.675em - 13.375em);
    flex: 1;
    font-family: 'Open Sans', sans-serif;
}

.element p {
    font-size: small;
}

img {
    max-width: 9em;
    max-height: 9em;
    flex: 1;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 25%;
    align-items: flex-end;
}

.contentWrapper a {
    text-decoration: none;
    color: black;
}

.element {
    /*border: double;*/
    text-align: center;
}

.element:hover {
    box-shadow: 5px 10px 18px #888888;
}