@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');
Site {}

body {
    margin: 0;
    background-image: url('/src/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 0.4em;
    align-items: center;
}

.Site-content {
    min-height: calc(100vh - 4.674em - 15.68em - 1em);
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom:0.5em;
}

.element p {
    font-size: small;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    align-items: center;
}

.contentWrapper a {
    text-decoration: none;
    color: black;
}

.contentWrapper .element {
    margin-left: 0.313em;
    margin-right: 0.313em;
}

.contentWrapper .element img {
    max-width: 200px;
    max-height: 200px;
    flex: 1;
}

.element {
    /*border: double;*/
    text-align: center;
}

.element:hover {
    box-shadow: 5px 10px 18px #888888;
}

.registrationForm input[type=text],
[type=password],
#selectgender {
    width: 65%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid rgb(134, 133, 133);
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
}

.registrationForm input[type=submit] {
    width: 65%;
    background-color: #428eb9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.registrationForm input[type=submit]:hover {
    background-color: var(--hoverAccentColor);
}

.registrationForm .oneLine {
    max-width: 32.5%;
}

.registrationForm h2 {
    color: rgb(1, 12, 5);
    margin-bottom: 0px;
}

.registrationForm form {
    text-align: left;
    padding-left: 2%;
    padding-bottom: 20px;
}

.loginForm {
    width: 50%;
}

.loginForm>h1 {
    margin-bottom: 0px;
}

.loginForm #emailLogin,
#password {
    width: 70%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid rgb(134, 133, 133);
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
}

.loginForm [type=submit] {
    width: 70%;
    background-color: #428eb9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.itemList {
    list-style-type: none;
}