.documentationContainer{
    max-width:75vw;
    display:flex;
    flex-direction: column;
}

.documentationContainer h2{
    align-self: center;
}

.websiteDiagram, .databaseDiagram{
    height:600px;
}
