@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');

footer {
    background-color: rgb(53, 142, 219);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 4px 2px #27272780;
    -webkit-box-shadow: 0px 4px 2px #27272780;
    -moz-box-shadow: 0px 4px 2px #27272780;
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-container-footer .footerItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding:0;
}

.flex-container-footer .flex-container-content {
    flex-direction: row;
    margin: inherit;
}

.flex-container-content>p:first-of-type {
    text-decoration-line: underline;
    font-weight: 600;
}

.flex-container-footer * {
    margin: 5px;
}


footer tr th {
    /*border: 1px solid black;*/
    text-align: left;
}

footer tr:first-of-type {
    font-size: large;
    text-decoration-line: underline;
}

footer a {
    display: block;
    text-decoration-line: none;
    color: black;
}

footer a:hover {
    background-color: rgb(219, 196, 174);
    transition: 0.5s;
}



.collapsible {
    display: block;
}
.collapsible input {
    position: absolute;
    left: -9999px;
}
.collapsible input:focus ~ .collapser {
    border-color: grey;
}
.collapsible .collapser {
    cursor: pointer;
    border: 1px transparent dotted;
    text-decoration-line: underline;
    font-weight: 600;

}
.collapser .footerItemsTitle{
    text-align:center;
    margin:0;
}

.collapser .collapsed {
    margin:0;
}


.collapsible input:checked ~ .collapsed {
    font-size: 16px;
    opacity: 1;
    height: auto;
    padding: 5px 0;
    /* grow, then fade in */
    transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s;
}

.footerItems li{
    height:inherit;
}

.collapsed .partnerLogo {
    height: 40px;
}

.collapsed a {
    text-align: left;
}
.collapsed .partnerLogoAlign{
    text-align: center;
}