@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');

footer {
    background-color: var(--mainColor);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0.25em 0.125em #27272780;
    -webkit-box-shadow: 0 0.25em 0.125em #27272780;
    -moz-box-shadow: 0 0.25em 0.125em #27272780;
    background-size: 100%;
}

footer{
    color: var(--lightGreyParagraphColor);
}


.flex-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-container-footer .footerItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding:0;

}

.flex-container-footer .flex-container-content {
    flex-direction: row;
    margin: inherit;
}

.flex-container-content>p:first-of-type {
    text-decoration-line: underline;
    font-weight: 600;
}

.flex-container-footer * {
    margin: 0.3125em;
}


footer tr th {
    text-align: left;
}

footer tr:first-of-type {
    font-size: large;
    text-decoration-line: underline;
}

footer a {
    display: block;
    text-decoration-line: none;
    color: var(--lightGreyParagraphColor);
}

footer a:hover {

    color:var(--orangeAccentColor);
    transition: 0.5s;
}


.collapsible {
    display: flex;
    flex-direction: column;
}
.collapsible input {
    position: absolute;
    left: -624.9375em;
}

.collapsible input:focus ~ .collapser {
    border-color: grey;
}
.collapsible .collapser {
    cursor: pointer;
    font-weight: 600;

}
.collapser .footerItemsTitle{

    text-align:center;
    margin:0;
    cursor:default;
}

.collapser .collapsed {
    margin:0;
    cursor:default;
}

.collapser:hover{
    cursor:default;
}

.collapsed{
    margin-left:0;
}

.collapsible input:checked ~ .collapsed {
    font-size: 1em;
    opacity: 1;
    height: auto;
    padding: 0.3125em 0;
    /* grow, then fade in */
    transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s;
}

.footerItems li{
    height:inherit;
}

.collapsed .partnerLogo {
    height: 2.5em;
}

.collapsed a {
    text-align: left;
}

.partnerLogoList{
    list-style-type: none;
    padding:0;
    margin:0;
}

.footerItem4 .collapsible .collapsed{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footerItem4 .collapser{
    margin:0.2em;
}
.footerItem4 img{
    margin:0.2em;
}


.footerItemsPartOne {
    display:flex;
    flex-direction: row;
    list-style: none;
    padding:0;
    margin:0;
}

.footerItemsPartTwo {
    display:flex;
    flex-direction: row;
    list-style: none;
    padding:0;
    margin:0;
}

.footerItems{
    display: flex;
    flex-direction: row;
    margin:0;
}

.flex-container-footer{
    display: flex;
    flex-direction: row;
}

.footerItem1 {
    margin:0.2em;
}
.footerItem2 {
    margin:0.2em;
}
.footerItem3 {
    margin:0.2em;
}
.footerItem4 {
    margin:0.2em;
}

.cookieBanner {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orangeAccentColor);
    color: black;
    border-radius: 4px;
    margin-left: 1%;
    margin-right: 1%;
}

.cookieBanner p {
    text-align: center;
    color: black;
}

.cookieBanner #linkToInfo {
    text-align: center;
    color: black;
    width: 50%;
}
.cookieBanner #linkToInfo:hover{
    background-color: var(--mainColor);
}


.cookieBanner #understoodButton {
    width: 100%;
    background-color: var(--mainColor);
    color: white;
    padding: 0.875em 1.25em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    align-items: center;
}