@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/*
###################################################### Allgemein #######################################################
*/
header {

    height:var(--navbarHeightFullscreen);
    font-family: 'Nanum Gothic', sans-serif;
}

.headerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:inherit;
}

/*
################################################### ProTec Logo ########################################################
*/

.protecLogoContainer {
    height: 100%;
}

.protecLogoContainer a {
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.protecLogo {
    height: 90%;
}

.protecLogoMinimal{
    display:none;
}

/*
###################################################### Kategorien #######################################################
*/

.navbar {
    display: flex;
    flex-direction: row;
    background-color: var(--mainColor);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0 0.25em 0.125em #27272780;
    justify-content: center;
    flex-wrap: nowrap;
    height: var(--navbarHeightFullscreen);
}


.navbar a {
    float: left;
    flex-direction: column;
    color: var(--lightGreyParagraphColor);
    text-align: center;
    text-decoration: none;
    height: var(--navbarHeightFullscreen);

}

.navbar .navigation {
    flex-direction: row;
}

.navigation{
    display:flex;
    flex-direction: row;
    width:60vw;
}


.navbar a:hover {
    background: var(--hoverAccentColor);
}

.navbar .navigation li {
    display: inline-flex;
    position: relative;
}


.dropdown {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    width:calc(60vw/5);
}



.dropdown-content {
    display: none;
    position: absolute;
    top: var(--navbarHeightFullscreen);
    background-color: var(--mainColor);
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    height:inherit;
    width:calc(60vw/5 - 1em);
}

.dropdown-content a {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    width:calc(60vw/5);
    text-align: center;
}

.dropdownContentList{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-left: 0;
    width:calc(60vw/5);
    margin:0;

}


.dropdownContentListElement{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width:100%;
    font-size:0.9em;
    height:2em;
}

.dropdownContentList:hover{
    background-color:var(--mainColor);

}
.dropdownContentListElement:hover {
    background-color:var(--mainColor);

}


.categoryLogo  {
    width: 1.5em;
    height: 1.5em;
    filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(97%) contrast(107%);
}

.dropdown:hover .dropdown-content {
    display: block;
    width:calc(60vw/5);

}

.dropbtn:hover .categoryLogo, .dropbtn:hover .categoryTitle{
    filter: invert(88%) sepia(37%) saturate(2548%) hue-rotate(345deg) brightness(108%) contrast(105%);
}

.dropbtn{
    height:100%;
    width:calc(60vw/5);

}

.dropbtn a {
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.67em;
    height: inherit;
    width:100%;
    text-align:justify-all;
}


.dropdown-content .dropdownContentElement {
    display: block;
    width:calc(60vw/5);
}

span.categoryTitle{
    font-size: 1em;
    margin-left: 0.5em;
    color:black;
    filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(97%) contrast(107%);
}



/*
###################################################### Suche ###########################################################
*/

.searchNavContainer {
    background-color: var(--mainColor);
    border: none;
    margin-left: 0.2em;
    width:calc(60vw/5);
}

.searchContainer {
    border: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.searchContainer form{
    background-color: #FFFFFF;
    height:33%;
    font-size: inherit;
    justify-content: center;
    align-content: center;
    border-radius: 0.25em;
    padding: 0.2em;
}
.searchContainer button{
    height:100%;
    padding: 0.2em;
    margin: 0;
}


.searchContainer input[type=text] {
    border: none;
    font-size: 1em;
    border-radius: 0.25em;
    max-width:calc(60vw/5 - 5em);
}

.searchContainer button[type=submit] {
    background-color: #FFFFFF;
    border: none;
}

.searchContainer button[type=submit] img {
    height: 1em;
}

.searchContainer a #text {
    font-size: 4.5em;
}

.searchNavContainerMinimal{
    display:none;
}


textarea:focus,
input:focus {
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}

/*
###################################################### Login ###########################################################
*/

.loginSymbol {
    height: 2em;
    width: 2em;
    margin-bottom: 0.5em;
    filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(97%) contrast(107%);
}


.loginContainer {
    width:3.5em;
    padding-left: 0.5em;
}

.loginContainer:hover .loginSymbol{
    filter: invert(88%) sepia(37%) saturate(2548%) hue-rotate(345deg) brightness(108%) contrast(105%);
}


.loginContainer a{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

span.loginText{
    font-size: 1em;
}

/*
#################################################### Warenkorb #########################################################
*/

.productBasketIcon{
    height: 2em;
    width: 2em;
    margin-bottom: 0.5em;
    filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(97%) contrast(107%);
}

.productBasketContainer{
    width:7.249em;
    padding-left: 0.5em;
}

.productBasketContainer:hover .productBasketIcon{
    filter: invert(88%) sepia(37%) saturate(2548%) hue-rotate(345deg) brightness(108%) contrast(105%);
}


.productBasketContainer a{
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.productBasketText{
    font-size: 1em;
}


/*
################################################# Administration #######################################################
*/

.administrationContainer{
    width:3.593em;
    padding-left: 0.5em;
}

.administrationContainer a{
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.administrationContainer:hover .administrationIcon{
    filter: invert(88%) sepia(37%) saturate(2548%) hue-rotate(345deg) brightness(108%) contrast(105%);
}


.administrationIcon{
    height: 2em;
    margin-bottom: 0.35em;
    filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(97%) contrast(107%);
}

span.administrationText{
    font-size: 1em;
}

/*
##################################################### Profil ###########################################################
*/

.userprofileContainer{
    width:3.593em;
}

.userprofileContainer a{
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userprofileIcon{
    height: 2em;
    margin-bottom: 0.35em;
    filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(97%) contrast(107%);
}
span.userprofileText{
    font-size: 1em;
}

.userprofileContainer:hover .userprofileIcon{
    filter: invert(88%) sepia(37%) saturate(2548%) hue-rotate(345deg) brightness(108%) contrast(105%);
}