@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

header {
    background-color: #d7dae6;
    font-family: 'Nanum Gothic', sans-serif;

}

.headerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar {
    display: flex;
    flex-direction:row;
    background-color: #358edb;
    /*background: linear-gradient(45deg, #FFD700, #FF0000);*/
    position: fixed;
    /* Set the navbar to fixed position */
    right: 0;
    left: 0;
    top: 0;
    margin-top: 0;
    box-shadow: 0 4px 2px #27272780;
    -webkit-box-shadow: 0 4px 2px #27272780;
    -moz-box-shadow: 0 4px 2px #27272780;
    justify-content: center;
    flex-wrap: nowrap;
    height:4.5em;
}


/* Links inside the navbar */

.navbar a {
    float: left;
    flex-direction: column;
    color: rgb(50, 54, 63);
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
    height:1.6rem;
}

.navbar .navigation {
    flex-direction: column;
}



/* Change background on mouse-over */

.navbar a:hover {
    background: rgb(73, 168, 223);
    color: black;
    transition: 0.3s;
}

.navbar .navigation li {
    display: inline-flex;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
}

.navigationContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navigationContainer .dropdown {
    margin: 10px;
    text-decoration: none;
    padding: 5px 7px;
}

.navigationContainer .dropdown>a {
    text-decoration: none;
    position: relative;
    color: rgb(50, 54, 63);
}

.navigationContainer .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.navigationContainer .dropdown-content a:hover {
    background-color: rgb(73, 168, 223);
    color: black;
    transition: 0.3s;
}

.navigationContainer .dropdown:hover {
    background-color: rgb(73, 168, 223);
    color: black;
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Nanum Gothic', sans-serif;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
}
.dropdown-content a {
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    width: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
}
.dropbtn a{
    font-size: 1.5em;
    height: inherit;
}

.dropdown-content .dropdownContentElement{
    display: block;
    min-width: inherit;
}

.searchNavContainer {
    background-color: #358edb;
    border:none;
    margin-left: 0.2em;
}

.searchContainer {
    padding: 0.4em;
    background-color: #FFFFFF;
    border:none;
    margin: 1.25em 0em;

}

.searchContainer input[type=text] {
    border: none;
    font-size: 1em;
    background-height: 1.3em;
}

.searchContainer button[type=submit] {
    font-size:1em;
    background-color: #FFFFFF;
    border:none;
    height:1.2em;
}
.searchContainer button[type=submit] img {
    height:1em;
}

.searchContainer a{
    height:inherit;
}
.searchContainer a #text{
    font-size:4.5em;
}

.categoryLogo {
    width: 2em;
    height: 2em;
}

textarea:focus, input:focus{
    outline: none;
}

.protecLogoContainer {
    height:inherit;
}
.protecLogoContainer a {
    height:3.5em;
}
.protecLogo {
    height:4.5em;
}


.loginSymbol{
    height: 2em;
}
.loginContainer{
    height: 4.5em;
}
.loginContainer a {
    height: 2.5em;
    font-size: 1.5em;
}



#Login-Smart {
    background-color: #358edb;
    font-size: 1em;

}

#Login-Smart:hover {
    background-color: rgb(255, 191, 146);
}