.homepageContainer{
    display:block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeContainer{
    display:flex;
    flex-direction: row;
    padding: 0;
    margin:0;
    border: 0.5em solid var(--orangeAccentColor);
    background-color: #FFFFFF;
    height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen) + 0.75em);
}
.homeContainer a {
    height: inherit;
}

.homeContainer ul{
    list-style: none;
    padding: 0;
    margin:0;
}



.leftHomeColumnUpperPartElements li a img,.rightHomeColumnUpperPartElements li a img,
.middleHomeColumnUpperPartElements li a img,.middleHomeColumnLowerPartElements li a img{
    height:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen) - 1em)/4 - 0.5em);
    width:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen) - 1em)/4 - 0.5em);
}

.middleHomeColumnMiddlePartContainer img{
    height:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen) - 1em)/2 + 0.15em);
    width:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen) - 1em)/2 - 0.5em);
}



.middleHomeColumnUpperPartElements,.middleHomeColumnLowerPartElements{
    display:flex;
    flex-direction: row;
}
.middleHomeColumnMiddlePartContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.25em solid var(--mainColor);
}

.exampleImageLeftUpperCorner,.exampleImageLeftUpperMiddle,
.exampleImageLeftLowerMiddle,.exampleImageLeftLowerCorner,
.exampleImageMiddleUpperLeft,.exampleImageMiddleUpperRight,
.exampleImageMiddleLowerLeft,.exampleImageMiddleLowerRight,
.exampleImageRightUpperCorner,.exampleImageRightUpperMiddle,
.exampleImageRightLowerMiddle,.exampleImageRightLowerCorner{
    border-color: #1872A4;
    border-style: solid;
}

.exampleImageLeftUpperCorner{
    border-left-width: 0.5em;
    border-right-width: 0.25em;
    border-top-width: 0.5em;
    border-bottom-width: 0.25em;
}
.exampleImageLeftUpperMiddle{
    border-left-width: 0.5em;
    border-right-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-width: 0.25em;
}
.exampleImageLeftLowerMiddle{
    border-left-width: 0.5em;
    border-right-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-width: 0.25em;
}
.exampleImageLeftLowerCorner{
    border-left-width: 0.5em;
    border-right-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-width: 0.5em;
}
.exampleImageMiddleUpperLeft{
    border-right-width: 0.25em;
    border-left-width: 0.25em;
    border-top-width: 0.5em;
    border-bottom-width: 0.25em;
}
.exampleImageMiddleUpperRight{
    border-right-width: 0.25em;
    border-left-width: 0.25em;
    border-top-width: 0.5em;
    border-bottom-width: 0.25em;
}
.exampleImageMiddleLowerLeft{
    border-right-width: 0.25em;
    border-left-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-width: 0.5em;
}
.exampleImageMiddleLowerRight{
    border-right-width: 0.25em;
    border-left-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-width: 0.5em;
}
.exampleImageRightUpperCorner{
    border-right-width: 0.5em;
    border-left-width: 0.25em;
    border-top-width: 0.5em;
    border-bottom-width: 0.25em;
}
.exampleImageRightUpperMiddle{
    border-right-width: 0.5em;
    border-left-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-width: 0.25em;
}
.exampleImageRightLowerMiddle{
    border-right-width: 0.5em;
    border-left-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-width: 0.25em;
}
.exampleImageRightLowerCorner{
    border-right-width: 0.5em;
    border-left-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-width: 0.5em;
}

.exampleImageLeftUpperCorner:hover,.exampleImageLeftUpperMiddle:hover,
.exampleImageLeftLowerMiddle:hover,.exampleImageLeftLowerCorner:hover,
.exampleImageMiddleUpperLeft:hover,.exampleImageMiddleUpperRight:hover,
.exampleImageMiddleLowerLeft:hover,.exampleImageMiddleLowerRight:hover,
.exampleImageRightUpperCorner:hover,.exampleImageRightUpperMiddle:hover,
.exampleImageRightLowerMiddle:hover,.exampleImageRightLowerCorner:hover,
.middleHomeColumnMiddlePartContainer:hover {
    box-shadow: 0 0 4em var(--orangeAccentColor);
    transition: 0.7s;
    overflow: visible;
    flex: 1;
}




