@media screen and ( max-width: 1150px) {

/*
###################################################### Allgemein #######################################################
*/
    .Site-content {
        padding-top: calc(var(--navbarHeightMobile) * 0.66);
        min-height: calc(100vh - var(--navbarHeightMobile) - var(--footerHeightMobile));
        height:max-content;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }

    .navbar{
        height:var(--navbarHeightMobile);
    }
/*
################################################### ProTec Logo ########################################################
*/

    .protecLogoMinimalContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: var(--navbarHeightMobile);
    }
    .protecLogoMinimal{
        display:flex;
        height: 75%;
    }
    .protecLogo{
        display:none;
        height:inherit;
    }


/*
###################################################### Kategorien #######################################################
*/


    .categoryTitle{
        display:none;
    }

    .navbar a:hover{
        background:none;
    }

    .dropdown:hover{
        border:none;
    }

    .dropdownContentList:hover{
        background:none;
    }

    .dropdownContentListElement:hover{
        background:none;
    }

    .dropdown:hover .dropdown-content{
        display:none;
    }

/*
###################################################### Suche ###########################################################
*/

    .searchNavContainer{
        display:none;
    }

    .searchContainerMinimal {
        border: none;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100%;
        z-index: -1;
    }

    .searchContainerMinimal button{
        height:100%;
        padding: 0.2em;
        margin: 0;
    }

    .searchContainerMinimal button[type=submit] {
        background-color: #FFFFFF;
        border: none;
    }

    .searchNavContainerMinimal{

        align-items: center;
        display: flex;
        flex-direction: row;
        background-color: var(--mainColor);
        position: fixed;
        right: 0;
        left: 0;
        top:var(--navbarHeightMobile);
        justify-content: center;
        flex-wrap: nowrap;
        height: calc(var(--navbarHeightMobile) * 0.66);

    }
    .searchNavContainerMinimal form{
        height:2em;
        width:50%;
        background-color: #FFFFFF;
        border-radius: 0.25em;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .searchContainerMinimal{

        background-color:var(--mainColor);
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding:0;
        border:0;

    }
    .searchContainerMinimal form, .searchContainerMinimal button{
        border-radius: 0.25em;
    }


    .searchContainerMinimal input[type=text] {
        border: none;
        font-size: 1em;
        width:100%;
        border-radius: 0.25em;
    }

    .searchContainerMinimal button[type=submit] {
        font-size: 1em;
        background-color: #FFFFFF;
        border: none;
        height: inherit
    }
    .searchContainerMinimal button[type=submit] img {
        height: 1em;
    }

/*
##################################################### Profil ###########################################################
*/
    span.userprofileText{
        font-size: 0;
    }

/*
################################################# Administration #######################################################
*/
    span.administrationText{
        font-size: 0;
    }

/*
#################################################### Warenkorb #########################################################
*/

    .productBasketContentContainer {

        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile));
        min-width: 99vw;
    }

    .productBasketContent{
        font-size:0.8em;
        width:100%;
    }
    .productBasketContent thead, .productBasketContent tbody, .productBasketContent tfoot {
        width: 100%;
    }



    .productBasketText{
        display:none;
    }

    .productBasketIcon {
        height: 2em;
        width: 2em;
        margin-bottom: 0;
    }




/*
##################################################### Checkout #########################################################
*/
    .checkoutContainer{
        min-height:calc(100vh - var(--navbarHeightMobile) - var(--footerHeightMobile) + 5vh);
    }
    .checkoutContent{
        min-height:calc(100vh - var(--navbarHeightMobile) - var(--footerHeightMobile) + 5vh);
    }
    .checkoutContainerShort{
        min-height:calc(100vh - var(--navbarHeightMobile) - var(--footerHeightMobile));
    }
    .checkoutContentShort{
        min-height:calc(80vh - var(--navbarHeightMobile) - var(--footerHeightMobile));
    }

    .navigationHistory span{
        font-size:1.1em;
    }

    .choosePaymentMethod, .chooseShippingMethod{
        width:100%;

    }

    .note{
        font-size:0.9em;
    }

    .addressView{
        display:flex;
        flex-direction: column;
        justify-content: center;
        min-width:0;
        width: 95%;
        height:90%;
    }
    .billingAddress, .shippingAddress{
        height: 50%;
        width:100%;
        padding-top: 3em;
        flex-wrap: nowrap;
        min-width:100%;
    }

    .summaryCheckoutContainer{
        flex-direction: column;
        align-items: center;
        height:100%;
    }

    .productBasketSummary{
        height:100%;
        width:100%;
        overflow-x: visible;
        font-size:0.8em;
    }

    .productBasketSummary .columnHeaderQuantity,
    .productBasketSummary .columnContentQuantity,
    .productBasketSummary .columnSummaryQuantity{
        width:7%;
        min-width: 3.125em;
    }
    .productBasketSummary .columnHeaderProduct,
    .productBasketSummary .columnContentProduct,
    .productBasketSummary .columnSummaryProduct{
        width:73%;
    }

    .productBasketSummary .columnHeaderPricing,
    .productBasketSummary .columnContentPricing,
    .productBasketSummary .columnSummaryPricing{
        width:10%;
        min-width: 4.688em;
    }

    .currency{
        display:none;
    }



/*
###################################################### Footer ##########################################################
*/

    .flex-container-footer .footerItems{
        display: list-item;
        justify-content: center;
        height: inherit;
    }
    .collapsible .collapsed {
        font-size: 0;
        opacity: 0;
        padding: 0;
        transition: opacity 0.25s, margin 0.5s 0.25s, font-size 0.5s 0.25s, padding 0.5s 0.25s;

    }
    .collapsed{
        height:0;
    }

    .collapsible input:checked ~ .collapsed {
        font-size: 1em;
        opacity: 1;
        height: inherit;
        padding: 0.313em 0;
        transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s;
    }

    .collapsed .partnerLogoAlign{
        text-align: center;
        height:0;
    }

    .collapsible input:checked ~ .collapsed .partnerLogoAlign{
        height: inherit;
    }

    .footerItems .collapser{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .footerItemsPartOne {
        display:flex;
        flex-direction: column;
        list-style: none;
        padding:0;
        margin:0;
    }

    .footerItemsPartTwo {
        display:flex;
        flex-direction: column;
        list-style: none;
        padding:0;
        margin:0;
    }

    .footerItemsPartOneContainer{
        display: inline-flex;
        flex-direction: row;

    }

    .footerItemsPartTwoContainer{
        display: inline-flex;
        flex-direction: row;

    }

/*
###################################################### Login ###########################################################
*/
    .loginSymbol{
        margin-bottom: 0;
    }

    .loginText{
        display:none;
    }

/*
###################################################### Homepage ########################################################
*/

    .leftHomeColumnUpperPartElements li a img,.rightHomeColumnUpperPartElements li a img,
    .middleHomeColumnUpperPartElements li a img,.middleHomeColumnLowerPartElements li a img{
        height:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/4 - 0.5em);
        width:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/4 - 0.5em);
    }
    .middleHomeColumnMiddlePartContainer img{
        height:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/2 + 0.125em);
        width:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/2 - 0.5em);
    }

    .homeContainer{
        height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) + 0.25em);
        width: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1em);
    }

    .homepageContainer {
        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) + 0.25em);
    }


    .middleHomeColumnElements li{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

/*
################################################### Produktseiten ######################################################
*/

    .productPageContainer{
        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile)  - 0.8em);
        max-width: unset;
        width: 100vw;
    }

    .productName{
        font-size: 1.35em;
    }

    .productImage img{
        width: 15.625em;
        height: 15.625em;
    }

    .productImage{
        display:flex;
        flex-direction: column;
        align-items: center;

    }

    .productDescription{
        width:calc((100vw/2));
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .productDescription p{
        max-width:calc((100vw/2));
    }

    .contentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .addToBasketButton img {
        height: 1.5em;
        width: 1.5em;
    }
/*
############################################### Unterkategorieseiten ###################################################
*/
    .subCategoryContentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }


/*
################################################ Oberkategorieseiten ###################################################
*/

    .categoryContentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        min-height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile));
        width:100vw;
    }

    .contentWrapper{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

/*
################################################### Administration #####################################################
*/

    .manageProductsElements, .addProductFormularContainer, .changeProductFormularContainer,
    .deleteProductFormularContainer{
        flex-direction: column;
        min-width:75vw;
    }

    .changeProductContainer{
        border-style:none;
    }

    .administrationText{
        display:none;
    }





/*
###################################################### Homepage ########################################################
*/

    .homepageContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        min-height:calc(100vh - var(--navbarHeightMobile) - var(--footerHeightMobile) - 0.25em);
        width: inherit;
    }

    .homeContainer{
        height:inherit;
        width: inherit;
    }

    .leftHomeColumnUpperPartElements li a img, .rightHomeColumnUpperPartElements li a img,
    .middleHomeColumnUpperPartElements li a img,.middleHomeColumnLowerPartElements li a img{
        height:calc(((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/4 - 0.5em)/1.5);
        width:calc(((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/4 - 0.5em)/1.5);
    }

    .middleHomeColumnMiddlePartContainer img{
        height:calc(((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile))/2)/1.5);
        width:calc(((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/2 - 0.25em)/1.5);
    }




}
