@media screen and (max-width: 1600px) {


/*
###################################################### Kategorien #######################################################
*/
    .navigation{
        width:55vw;
    }

    .dropbtn {
        font-size: 0.75em;
        width:calc(55vw/5);
    }

    .dropdown {
        font-size:1em;
        width:calc(55vw/5);
    }

    span.categoryTitle {
        font-size: 0.85em;
    }

    .categoryLogo {
        width: 1.4em;
        height: 1.4em;
    }

    .dropdown-content{
        width:calc(55vw/5);
    }

    .dropdown-content a{
        width:calc(55vw/5);
    }

    .dropdownContentList{
        width:calc(55vw/5);
    }

    .dropdown:hover .dropdown-content{
        width:calc(55vw/5);
    }

    .dropdown-content .dropdownContentElement{
        width:calc(55vw/5);
    }

    .dropdownContentListElement{
        font-size:0.7em;
    }

/*
###################################################### Suche ###########################################################
*/

    .searchNavContainer {
        margin-left: 0.6em;
        margin-right: 0.6em;
    }

    .searchContainer input[type=text] {
        max-width:calc(60vw/5 - 5.1em);
        font-size:0.75em;
        padding: 0.2em;
        min-width:6.688em;
    }



/*
###################################################### Login ###########################################################
*/


    .loginSymbol {
        height: 2em;
    }

    span.loginText {
        font-size: 0.75em;
    }

/*
#################################################### Warenkorb #########################################################
*/

    span.productBasketText {
        font-size: 0.75em;
    }

/*
#################################################### Checkout #########################################################
*/
    .chooseMethods{
        flex-direction: column;
        justify-content: center;
    }

/*
################################################# Administration #######################################################
*/

    .administrationIcon{
        height: 2em;
    }
    span.administrationText{
        font-size: 0.75em;
    }

/*
##################################################### Profil ###########################################################
*/

    .userprofileIcon{
        height: 2em;
    }
    span.userprofileText{
        font-size: 0.75em;
    }

/*
################################################### Produktseiten ######################################################
*/


    .descriptionContainer {
        max-width: unset;
        width: inherit;
    }

    .productPageContainer {
        max-width: unset;
        width: inherit;
        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile));
    }

    .productDescription {
        width: calc((100vw / 2) - 5em);
    }

    .productDescription p {
        max-width: calc((100vw / 2));
    }

/*
############################################### Unterkategorieseiten ###################################################
*/

    .subCategoryContentContainer {
        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
    }

/*
###################################################### Footer ##########################################################
*/



    .footerItemsPartOne {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footerItemsPartTwo {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footerItems {
        display: flex;
        flex-direction: row;

    }

    .flex-container-footer {
        display: flex;
        flex-direction: row;
    }

}
