@media screen and (max-width: 620px) {

    .Site-content {

        min-height: calc(100vh - var(--navbarHeightMobile) - var(--footerHeightExtraThin) - 0.5em);


    }
    .headerContainer{
        height:var(--navbarHeightMobile)
    }

    .header{
        height:var(--navbarHeightMobile)
    }

    .protecLogoMinimal{
        display: block;
        height:3.2em;
    }
    .protecLogo{
        display:none;
        height:inherit;
    }

    .navbar{
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .searchNavContainer{
        display:none;
    }

    .searchNavContainerMinimal{

        align-items: center;
        display: flex;
        flex-direction: row;
        background-color: var(--mainColor);
        position: fixed;
        right: 0;
        left: 0;
        top:4em;
        box-shadow: 0 0.25em 0.125em #27272780;
        -webkit-box-shadow: 0 0.25em 0.125em #27272780;
        -moz-box-shadow: 0 0.25em 0.125em #27272780;
        justify-content: center;
        flex-wrap: nowrap;
        height: 2.8em;

    }
    .searchNavContainerMinimal form{
        height:2em;
        width:inherit;
        background-color: #FFFFFF;
    }

    .searchContainerMinimal{

        background-color:var(--mainColor);
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding:0;
        border:0;

    }
    .searchContainerMinimal form, .searchContainerMinimal button{
        border-radius: 0.25em;
    }


    .searchContainerMinimal input[type=text] {
        border: none;
        font-size: 1em;
    }

    .searchContainerMinimal button[type=submit] {
        font-size: 1em;
        background-color: #FFFFFF;
        border: none;
        height: inherit;
    }
    .searchContainerMinimal button[type=submit] img {
        height: 1em;
    }



    .subcategoryContent{
        flex-direction: column;
        align-items: center;
    }

    .footerItemsPartOneContainer{
        display: flex;
        flex-direction: column;
        margin:0;

    }

    .footerItemsPartTwoContainer{
        display: flex;
        flex-direction: column;
        margin:0;

    }

    .productDescription{
        width:calc(100vw - 2em);
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .productDescription p{
        max-width:calc(100vw - 2em);
    }

    .productName{
        font-size: 1.1em;
    }

    .subCategoryContentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100vw;
    }

    .categoryContentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100vw;
    }

    .contentWrapper{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .contentWrapper .element p{
        font-size: 1em;
    }

    .contentWrapper .element a img{
        max-height: 6.25em;
        max-width: 6.25em;
    }

    .subcategoryContent .element p{
        font-size: 1em;

    }


    .homepageContainer{
        width:100vw;
    }

    .homeContainer{
        border-style: none;
        height:inherit;
        width:calc(100vw - 1.5em);
    }


    .leftHomeColumnUpperPartElements li a img,.rightHomeColumnUpperPartElements li a img,
    .middleHomeColumnUpperPartElements li a img,.middleHomeColumnLowerPartElements li a img{
        height:calc(100vw/4 - 1em);
        width:calc(100vw/4 - 1em);
    }
    .middleHomeColumnMiddlePartContainer img{
        height:calc(100vw/2 - 0.875em);
        width:calc(100vw/2 - 1.5em);
    }


}