@media screen and (max-width: 665px) {

/*
###################################################### Allgemein #######################################################
*/
    .Site-content {

        min-height: calc(100vh - var(--navbarHeightMobile) - var(--footerHeightExtraThin));


    }


/*
###################################################### Kategorien #######################################################
*/

    .headerContainer{
        height:var(--navbarHeightMobile)
    }

    .header{
        height:var(--navbarHeightMobile)
    }


    .navbar{
        box-shadow: none;
    }




    /*
    ################################################# Warenkorb ########################################################
    */

    .productBasketContent{
        font-size:0.8em;
        width:100%;
    }
    .productBasketContent thead, .productBasketContent tbody, .productBasketContent tfoot {
        width: 100%;
    }

    .columnHeaderProduct, .columnContentProduct, .columnSummaryProduct{
        width:60%;
    }
    .columnHeaderQuantity, .columnContentQuantity, .columnHeaderPricing,
    .columnContentPricing, .columnSummaryQuantity, .columnSummaryPricing{
        width:15%;
    }


/*
###################################################### Footer ##########################################################
*/


    .footerItemsPartOneContainer{
        display: flex;
        flex-direction: column;
        margin:0;

    }

    .footerItemsPartTwoContainer{
        display: flex;
        flex-direction: column;
        margin:0;

    }

/*
################################################### Produktseiten ######################################################
*/


    .productDescription{
        width:calc(100vw - 2em);
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .productDescription p{
        max-width:calc(100vw - 2em);
    }

    .productName{
        font-size: 1.1em;
    }

/*
############################################### Unterkategorieseiten ###################################################
*/


    .subcategoryContent{
        flex-direction: column;
        align-items: center;
    }



    .subCategoryContentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100vw;
    }

    .subcategoryContent .element p{
        font-size: 1em;

    }

/*
################################################ Oberkategorieseiten ###################################################
*/

    .categoryContentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100vw;
    }

    .contentWrapper{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .contentWrapper .element p{
        font-size: 1em;
    }

    .contentWrapper .element a img{
        max-height: 6.25em;
        max-width: 6.25em;
    }

/*
###################################################### Homepage ########################################################
*/


    .homepageContainer{
        width:100vw;
    }

    .homeContainer{
        border-style: none;
        height:inherit;
        width:calc(100vw - 1.5em);
    }


    .leftHomeColumnUpperPartElements li a img,.rightHomeColumnUpperPartElements li a img,
    .middleHomeColumnUpperPartElements li a img,.middleHomeColumnLowerPartElements li a img{
        height:calc(100vw/4 - 1em);
        width:calc(100vw/4 - 1em);
    }
    .middleHomeColumnMiddlePartContainer img{
        height:calc(100vw/2 - 0.875em);
        width:calc(100vw/2 - 1.5em);
    }


}