@media screen and ( max-width: 1050px) {

/*
###################################################### Allgemein #######################################################
*/
    .Site-content {

        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile));
        height:max-content;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }

/*
###################################################### Kategorien #######################################################
*/

    .dropdown{
        margin-top: 0.5em;
    }

    .categoryTitle{
        display:none;
    }

/*
#################################################### Warenkorb #########################################################
*/

    .productBasketText{
        display:none;
    }
    .productBasketContainer{
        display:flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 0.35em;
    }


/*
###################################################### Footer ##########################################################
*/

    .flex-container-footer .footerItems{
        display: list-item;
        justify-content: center;
        height: inherit;
    }
    .collapsible .collapsed {
        font-size: 0;
        opacity: 0;
        padding: 0;
        transition: opacity 0.25s, margin 0.5s 0.25s, font-size 0.5s 0.25s, padding 0.5s 0.25s;

    }
    .collapsed{
        height:0;
    }

    .collapsible input:checked ~ .collapsed {
        font-size: 1em;
        opacity: 1;
        height: inherit;
        padding: 0.313em 0;
        transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s;
    }

    .collapsed .partnerLogoAlign{
        text-align: center;
        height:0;
    }

    .collapsible input:checked ~ .collapsed .partnerLogoAlign{
        height: inherit;
    }

    .footerItems .collapser{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .footerItemsPartOne {
        display:flex;
        flex-direction: column;
        list-style: none;
        padding:0;
        margin:0;
    }

    .footerItemsPartTwo {
        display:flex;
        flex-direction: column;
        list-style: none;
        padding:0;
        margin:0;
    }

    .footerItemsPartOneContainer{
        display: inline-flex;
        flex-direction: row;

    }

    .footerItemsPartTwoContainer{
        display: inline-flex;
        flex-direction: row;

    }

/*
###################################################### Login ###########################################################
*/
    .loginSymbol{

    }

    .loginText{
        display:none;
    }

/*
###################################################### Homepage ########################################################
*/

    .leftHomeColumnUpperPartElements li a img,.rightHomeColumnUpperPartElements li a img,
    .middleHomeColumnUpperPartElements li a img,.middleHomeColumnLowerPartElements li a img{
        height:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/4 - 0.5em);
        width:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/4 - 0.5em);
    }
    .middleHomeColumnMiddlePartContainer img{
        height:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/2 + 0.125em);
        width:calc((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/2 - 0.5em);
    }

    .homeContainer{
        height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) + 0.25em);
        width: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1em);
    }

    .homepageContainer {
        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) + 0.25em);
    }


    .middleHomeColumnElements li{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

/*
################################################### Produktseiten ######################################################
*/

    .productPageContainer{
        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile)  - 0.8em);
        max-width: unset;
        width: 100vw;
    }

    .productName{
        font-size: 1.35em;
    }

    .productImage img{
        width: 15.625em;
        height: 15.625em;
    }

    .productImage{
        display:flex;
        flex-direction: column;
        align-items: center;

    }

    .productDescription{
        width:calc((100vw/2));
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .productDescription p{
        max-width:calc((100vw/2));
    }

    .contentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

/*
############################################### Unterkategorieseiten ###################################################
*/
    .subCategoryContentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }


/*
################################################ Oberkategorieseiten ###################################################
*/

    .categoryContentContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        min-height:calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile));
        width:100vw;
    }

    .contentWrapper{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }



}


@media screen and ( max-width: 825px) {

/*
###################################################### Homepage ########################################################
*/

    .homepageContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        min-height:calc(100vh - var(--navbarHeightMobile) - var(--footerHeightMobile) - 0.25em);
        width: inherit;
    }

    .homeContainer{
        height:inherit;
        width: inherit;
    }

    .leftHomeColumnUpperPartElements li a img, .rightHomeColumnUpperPartElements li a img,
    .middleHomeColumnUpperPartElements li a img,.middleHomeColumnLowerPartElements li a img{
        height:calc(((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/4 - 0.5em)/1.5);
        width:calc(((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/4 - 0.5em)/1.5);
    }

    .middleHomeColumnMiddlePartContainer img{
        height:calc(((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile))/2)/1.5);
        width:calc(((100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) - 1.5em)/2 - 0.25em)/1.5);
    }




}
