@media screen and (max-width: 620px) {

    .Site-content {

        min-height: calc(100vh - 7em - 14.868em - 0.5em);


    }
    .headerContainer{
        height:7em;
    }

    .header{
        height:7em;
    }

    .protecLogoMinimal{
        display: block;
        height:3.2em;
    }
    .protecLogo{
        display:none;
        height:inherit;
    }

    .navbar{
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .searchNavContainer{
        display:none;
    }

    .searchNavContainerMinimal{

        align-items: center;
        display: flex;
        flex-direction: row;
        background-color: #358edb;
        position: fixed;
        right: 0;
        left: 0;
        top:4em;
        box-shadow: 0 4px 2px #27272780;
        -webkit-box-shadow: 0 4px 2px #27272780;
        -moz-box-shadow: 0 4px 2px #27272780;
        justify-content: center;
        flex-wrap: nowrap;
        height: 2.8em;

    }
    .searchNavContainerMinimal form{
        height:2em;
        width:inherit;
        background-color: #FFFFFF;
    }

    .searchContainerMinimal{

        background-color:#358edb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding:0;
        border:0;
    }

    .searchContainerMinimal input[type=text] {
        border: none;
        font-size: 1em;
    }

    .searchContainerMinimal button[type=submit] {
        font-size: 1em;
        background-color: #FFFFFF;
        border: none;
        height: inherit;
    }
    .searchContainerMinimal button[type=submit] img {
        height: 1em;
    }



    .subcategoryContent{
        flex-direction: column;
        align-items: center;
    }

    .footerItemsPartOneContainer{
        display: flex;
        flex-direction: column;
        margin:0;

    }

    .footerItemsPartTwoContainer{
        display: flex;
        flex-direction: column;
        margin:0;

    }
}