.Site-Content{}

.productBasketContentContainer {

    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
    min-width: 80vw;
    background-color: var(--contrastBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--lightGreyParagraphColor);
}