.productPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
    width: calc(100vw/2);
    margin: 0 0.4em;

}

.productName{
    font-size: 2em;
    margin:0.25em;
    background-color: unset;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--lightGreyParagraphColor);
    text-shadow: 0 0 0.125em black;
}

.productContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: unset;
}

.productImage{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #b3b2b2;

}

.productImage img{
    width: 18.75em;
    height: 18.75em;
}

.productDescription{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightGreyParagraphColor);
    text-shadow: 0 0 0.125em black;
}

.productDescription p{
    max-width:calc(100vw/3);

}


.productShortInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:2em;
}
.productPrice{
    font-size: 3em;
    color: var(--orangeAccentColor);
    text-shadow: 0 0 0.125em black;
}

.taxesAndShippingInfo{
    font-size: 1em;
    color: #3ca4ba;
    text-shadow: 0 0 0.125em black;
}


.descriptionContainer{
}

.quantityNumber{
    color:var(--lightGreyParagraphColor);
}

.quantityWantedLabel{
    font-size: 1em;
    color:black;
}

.addToBasketButton img{
    height:0.5em;
    width:0.5em;
}



.addToBasketContainer {
    background-color:var(--lightGreyParagraphColor);
    width:4.5em;
}
.addToBasketContainer button{
    border: none;
    background: none;
}

.addToBasketButton img{
    height:1em;
    width:1em;
}

.addToBasketContainer select{
    border: none;
    background: none;
}