.productPageContainer {
    background-color: var(--contrastBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen) - 0.8em);
    max-width: calc(100vw/2);
    margin: 0 0.4em;

}

.productName{
    font-size: 2em;
    margin:0.25em;
    background-color: unset;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #b3b2b2;
}

.productContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: unset;
}

.productImage{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #b3b2b2;

}

.productImage img{
    width: 300px;
    height: 300px;
}

.productDescription{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #b3b2b2;
}

.productDescription p{
    max-width:calc(100vw/3);

}


.productShortInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:2em;
}
.productPrice{
    font-size: 3em;
    color: var(--mainColor);
}

.taxesAndShippingInfo{
    font-size: 1.2em;
    color: #3ca4ba;
}


.descriptionContainer{
    max-width: calc(50vw);
}

.quantityNumber{
    color:var(--orangeAccentColor);
}