.productPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightFullscreen));
    width: calc(100vw/2);
    margin: 0 0.4em 0.6em;

}

.productName{
    font-size: 2em;
    margin:0.25em;
    background-color: unset;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--lightGreyParagraphColor);
    text-shadow: 0 0 0.125em black;
}

.productContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: unset;
}

.productImage{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #b3b2b2;

}

.productImage img{
    width: 18.75em;
    height: 18.75em;
}

.productDescription{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightGreyParagraphColor);
    text-shadow: 0 0 0.125em black;
}

.productDescription p{
    max-width:calc(100vw/3);

}


.productShortInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:2em;
}
.productPrice{
    font-size: 3em;
    color: var(--orangeAccentColor);
    text-shadow: 0 0 0.125em black;
}

.taxesAndShippingInfo{
    font-size: 1em;
    color: var(--lightGreyParagraphColor);
    text-shadow: 0 0 0.125em black;
}



.quantityNumber{
    color:var(--lightGreyParagraphColor);
}

.quantityWantedLabel{
    font-size: 1em;
    color:black;
}



.addToBasketContainer {
    background-color: var(--mainColor);
    color: white;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.25em;
    align-items: center;
    width:40%;
    display:flex;
}
.addToBasketContainer button{
    border: none;
    background: none;
}

.addToBasketButton img{
    height:1.5em;
    width:1.5em;
}

.addToBasketContainer select{
    border: none;
    background: none;
    color: var(--lightGreyParagraphColor);
    padding: 0.5em 0.75em;
    margin:0.25em 0;
    display: inline-block;
    border-radius: 0.625em;
    box-sizing: border-box;
    align-items: center;
}

.addToBasketContainer select option{
    border: none;
    justify-content: center;
    background-color: var(--mainColor);
    color: var(--lightGreyParagraphColor);
}



.addToBasketContainer form{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
