@media screen and (max-width: 1500px) {



    .navbar a {
        padding: 6px 6px;
    }

    .protecLogo {
        height: calc(var(--navbarHeightFullscreen) - 1em);
        padding: 0;
    }

    .protecLogoContainer a{
        padding:0;
        padding-top:0.5em;
        height: calc(var(--navbarHeightFullscreen) - 0.5em);
    }


    .dropbtn {
        font-size: 0.75em;
    }

    .dropdown {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding:0;
    }

    span.categoryTitle{
        font-size: 0.75em;
    }


    .categoryLogo {
        width: 1.6em;
        height: 1.6em;
    }

    .searchContainer input[type=text] {
        width: 6.2em;
    }

    .loginSymbol {
        height: 2em;
    }

    .loginText{
        font-size: 0.75em;
    }

    .productBasketText{
        font-size: 0.75em;
    }



    .searchNavContainer {
        margin-left: 0.6em;
        margin-right: 0.6em;
    }


    .footerItemsPartOne {
        display:flex;
        flex-direction: row;
        list-style: none;
        padding:0;
        margin:0;
    }

    .footerItemsPartTwo {
        display:flex;
        flex-direction: row;
        list-style: none;
        padding:0;
        margin:0;
    }

    .footerItems{
        display: flex;
        flex-direction: row;

    }

    .flex-container-footer{
        display: flex;
        flex-direction: row;
    }

    .descriptionContainer{
        max-width: unset;
        width:inherit;
    }

    .productPageContainer{
        max-width: unset;
        width:inherit;
        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile));
    }

    .productDescription{
        width:calc((100vw/2) - 5em);
    }

    .productDescription p{
        max-width:calc((100vw/2));
    }

    .subCategoryContentContainer{
        min-height: calc(100vh - var(--navbarHeightFullscreen) - var(--footerHeightMobile) );
    }


}