:root {
    --mainColor: #1872A4;
    --hoverAccentColor:#5D9CBF;
    --navbarHeightFullscreen:4.674em;
    --navbarHeightMobile:7em;
    --footerHeightFullscreen:15.68em;
    --footerHeightMobile:8.172em;
    --footerHeightExtraThin:14.868em;
    --contrastBackground: rgba(93, 156, 191, 0.3);
    --orangeAccentColor:#FDDA0F;
}
