:root {
    --mainColor: #1872A4;
    --hoverAccentColor:#5D9CBF;
    --navbarHeightFullscreen:4.674em;
    --navbarHeightMobile:7em;
    --footerHeightFullscreen:15.68em;
    --footerHeightMobile:8.172em;
    --footerHeightExtraThin:14.868em;
    --orangeAccentColor:#FDDA0F;
    --lightGreyParagraphColor: #d6d6d6;

    background-image: url('../../src/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p{
    color:var(--lightGreyParagraphColor);
}

h1{
    color:var(--lightGreyParagraphColor);
}

h2{
    color:var(--lightGreyParagraphColor);
}