/* The navigation bar */

body {
    background-color: rgb(215, 218, 230);
}

.navbar {
    /*overflow: hidden;*/
    background: linear-gradient(45deg, #FFD700, #FF0000);
    position: fixed;
    /* Set the navbar to fixed position */
    right: 0px;
    left: 0px;
    top: 0;
    margin-top: 30px;
    /* Position the navbar at the top of the page */
    /* width: 100%;*/
    /* border-radius: 10px;    later on gettin some shapes*/
    box-shadow: 0px 4px 2px #27272780;
    -webkit-box-shadow: 0px 4px 2px #27272780;
    -moz-box-shadow: 0px 4px 2px #27272780;
    /*position: relative;*/
    /*position: relative;*/
    /* Full width */
}


/* Links inside the navbar */

.navbar a {
    float: left;
    display: block;
    color: rgb(50, 54, 63);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar #Login {
    float: left;
    display: block;
    color: #000000;
    text-align: right;
    /*margin-top: 10px;*/
    /* margin-right: 20px;
     */
    /* padding: 14px 16px;*/
    text-decoration: none;
}

.navbar .LoginFields {
    text-align: right;
    /*display: block;*/
    color: rgb(50, 54, 63);
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    /* padding: 14px 16px;*/
}


/* Change background on mouse-over */

.navbar a:hover {
    background: rgb(73, 168, 223);
    color: black;
    transition: 0.3s;
}

.navbar .navigation ul {
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-top: auto;
}

.navbar .navigation li {
    display: inline-flex;
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
}

.navigationsContainer {
    display: flex;
    background-color: #FFD700;
}

.navigationsContainer>a {
    display: flex;
    background-color: #FFD700;
    flex-direction: column;
    margin: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Search input[type=text] {
    padding: 6px;
    border: none;
    margin-right: 16px;
    margin-left: 50px;
    font-size: 14px;
}


/* Main content */

.main {
    margin-top: 190px;
    margin-left: 20px;
    /* Add a top margin to avoid content overlay */
}

.square {
    height: 160px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgb(215, 218, 230);
}

.border {
    height: 160px;
    width: 100%;
    top: 0;
    position: relative;
    background-color: rgb(215, 218, 230);
}

footer {
    background: rgb(246, 245, 255);
    background: linear-gradient(90deg, rgba(246, 245, 255, 1) 0%, rgba(222, 192, 15, 1) 35%, rgba(0, 117, 255, 1) 100%);
    left: 0px;
    right: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 2px #27272780;
    -webkit-box-shadow: 0px 4px 2px #27272780;
    -moz-box-shadow: 0px 4px 2px #27272780;
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container-footer .flex-container-content {
    flex-direction: column;
    margin: 15px;
}

.flex-container-content>p:first-of-type {
    text-decoration-line: underline;
    font-weight: 600;
}

.flex-container-footer * {
    margin: 10px;
}

footer tr th {
    /*border: 1px solid black;*/
    text-align: left;
    padding: 5px;
}

footer tr:first-of-type {
    font-size: large;
    text-decoration-line: underline;
}

footer a {
    display: block;
    text-decoration-line: none;
    color: black;
}

footer a:hover {
    background-color: rgb(219, 196, 174);
    transition: 0.5s;
}


/*As a hiding element when you scroll down*/

@media screen and (max-width: 800px) {
    .navbar .navigation li {
        display: none;
        float: none;
        /*display: block;*/
        text-align: left;
    }
    .navbar .LoginFields {
        float: none;
    }
    .navbar {
        margin-top: 0px;
        height: 15%;
    }
    .flex-container-footer {
        flex-direction: column;
    }
    .flex-container-footer * {
        margin: 5px;
    }
    .footer,
    table,
    tr,
    th {
        display: block;
    }
    .headlines {
        flex-direction: column;
    }
}