.subcategoryContent{
    padding:0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    align-self: center;
}
.subcategoryContent a {
    text-decoration: none;
    color: black;
}

.subcategoryContent .element{

    text-align: center;
    width:300px;

}
.subcategoryContent .element img{
    max-width: 9em;
    max-height: 9em;
    flex: 1;


}
.subcategoryContent .element:hover {
    box-shadow: 5px 10px 18px #888888;
}

.subcategoryContent .element p {
    display:block;
    flex-wrap: wrap;
    text-align: center;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}